

.demo-section-box{
  width: 100%;

}
.section-container{

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;


  background-color: #191b22;
  width: 100%;
  margin: 0 auto;



}


